
:root {
    --f-color: #c1121f;
    --s-color: #003049;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Merriweather", serif;
} 
body {
    background-color: var(--s-color);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
span {
    color: var(--f-color);
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

header .logo h1 {
    color: white;
    cursor: pointer;
}

header ul {
    display: flex;
    align-items: center;
}
header ul li {
    padding: 10px;
    margin: 5px;
}
header ul li a {
    color: white;
    opacity: 0.8;
}
header .test {
    width: 150px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}
header .test h1 {
    background-color: var(--f-color);
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    opacity: .8;
    cursor: pointer;
}

/* Landing-page */
.landing-page {
    width: 100%;
    height: 90vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-page .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
}
.landing-page .text h1 {
    font-size: 60px;
    color: white;
    opacity: .8
}
.landing-page .text h2 {
    font-size: 50px;
    color: white;
    opacity: .8;
    letter-spacing: 60px;
}

.landing-page .text p {
    color: white;
    opacity: .8;
    margin: 10px;
}

.landing-page .img img {
    width: 1000px;
}
@media (max-width: 900px) {
    .landing-page .img img {
        width: 800px;
    }
}
@media (max-width: 800px) {
    .landing-page .img img {
        width: 600px;
    }
}

.landing-page .op {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    color: white;
    opacity: .8;
}
.landing-page .op .power {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
@media (max-width: 400px) {
    .landing-page .img img {
        width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .landing-page .text {
        margin: 0;
    }
    .landing-page .text h1 {
        font-size: 35px;
    }
    .landing-page .text h2 {
        margin-top: 5px;
        letter-spacing: 10px;
    }
    .landing-page .op {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
